.collection {
  display: none;
  padding: 40px 14px;
  background-color: #592c6b;
  background-image: linear-gradient(to top, #542967 0%, #723c88 100%);

  &__title {
    color: #ffffff;
    font-family: 'Gilroy Regular';
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-between;

    &-wrapper {
      width: 136px;
      height: 136px;
      box-shadow: 0 8px 54px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      background-color: #ffffff;
      margin-bottom: 15px;
      position: relative;
    }

    &-img {
      position: absolute;
      left: 5px;
    }
  }
}

.slick-prev .slick-arrow {
  display: none;
}