@font-face {
  font-family: 'Gilroy Regular';
  src: url('../../fonts/Gilroy-Regular.eot');
  src: url('../../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Regular.woff') format('woff'),
  url('../../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
font-family: 'Gilroy-bold';
src: local('../../fonts/Gilroy Bold'), local('../fonts/Gilroy-Bold'),
    url('../../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../../fonts/Gilroy-Bold.woff') format('woff'),
    url('../../fonts/Gilroy-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}

@font-face {
  font-family: 'Gilroy Black';
  src: url('../../fonts/Gilroy-Black.eot');
  src: url('../../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Gilroy-Black.woff') format('woff'),
  url('../../fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }




@import '_reset.scss';
@import '_main.scss';
@import '_burger.scss';
@import '_work.scss';
@import '_check.scss';
@import '_booking.scss';
@import '_review.scss';
@import '_unique.scss';
@import '_social.scss';
@import '_modal.scss';
